#categorie, #format, #tri {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.zone-filtres {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5vh;
  margin-top: 9vh;
}

.filtres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.titre-filtres {
  display: none;
}

.filtres-gauche,
.filtres-droite {
  display: flex;
  gap: 0rem;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.filtre-bouton {
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1a1a1a;
  background: #fff;
  padding: 0.6rem 1rem;
  min-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;

/*   &:hover {
    border-color: #E00000;
    color: #E00000;
  } */

  &:focus {
    outline: none;
    border-color: #0056FF;
  }
}

.chevron {
  transition: transform 0.3s ease;
  font-size: 0.85rem;
  pointer-events: none;
  width: 100%!important;
}

.filtres.open .chevron {
  transform: rotate(180deg);
}

.filtre-options {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background: #fff;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filtres.open .filtre-options {
  display: block;
}

.filtre-options li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #222;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: #E00000;
    color: white;
  }
}

.filtre-options li.selected {
  background-color: #E00000;
  color: white;
}

@media (max-width: 768px) {
  .zone-filtres {
    flex-direction: column;
    gap: 5vh;
  }

  .filtres-gauche,
  .filtres-droite {
    justify-content: center;
    gap: 5vh;
  }

  .filtre-bouton {
    width: 100%;
    justify-content: center;
    gap: 0.3rem;
  }

  .filtres {
    width: 100%;
  }
}
