@media (max-width: 768px) {
  .logo {
    padding-left: 15px;
    z-index: 999999;
  }

  .burger-menu {
    display: block;
    position: fixed;
    top: 5px;
    right: 20px;
    padding-right: 15px;
    z-index: 101;
    color: #000000;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b30000;
    z-index: 100;
    transition: opacity 0.3s ease;

    &.actif {
      display: flex;
    }

    a {
      color: #fff;
      font-size: 2rem;
      margin: 1rem 0;
      text-decoration: none;
    }
  }

  .image-header img, picture.principale, img.lazyloaded {
    margin-bottom: 30px;
  }

  .zone-filtres {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1vh;
  }

  .filtres {
    display: flex;
    justify-content: center;
  }

  .filtres-gauche,
  .filtres-droite {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  button.filtre-bouton,
  div.open {
    width: 60vw;
    margin: auto;
  }

  .galerie {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .colonnes-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .carte, picture.principale {
    flex: 1 1 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;

    img.lazyloaded {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .image-carte {
      width: 100%;
    }
  }

  .conteneur-principal {
    padding: 0 20px;
    position: fixed;
  }

  .charger-plus {
    width: 100%;
  }

  .ul-pied-de-page {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 20px;
  }

    img.lazyloaded:not(.logo, .chevron, .hero-background) {
    height: 50vh;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
/*     .filtre-bouton,
  .filtre-options {
    width: 15vw;
  } */
}

@media (min-width: 1920px) {




}
